<div class="ui container table-wrapper">
  <table class="ui striped table">
    <thead>
      <tr>
        <th>Ημερομηνία</th>
        <th>Τιμή</th>
        <th>Εισιτήριο</th>
        <th>Διαθέσιμα</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.time }} {{ ticket.date }}</td>
        <td>{{ ticket.price }} &euro;</td>
        <td>{{ ticket.socialType }}</td>
        <td>{{ ticket.seats }}</td>
        <td class="ui center aligned">
          <div
            class="ui massive teal button my-button"
            (click)="buyTicket(event, ticket)"
          >
            Αγορά Εισιτηρίου
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
