<form class="ui form">
  <h4 class="ui dividing header">Στοιχεία Αποστολής</h4>
  <div class="field">
    <label>Όνομα</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="shipping[first-name]" placeholder="Όνομα" />
      </div>
      <div class="field">
        <input type="text" name="shipping[last-name]" placeholder="Επίθετο" />
      </div>
    </div>
  </div>
  <div class="field">
    <label>Διεύθυνση Αποστολής</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" name="shipping[address]" placeholder="Διεύθυνση" />
      </div>
      <div class="four wide field">
        <input type="text" name="shipping[address-2]" placeholder="Τ.Κ." />
      </div>
    </div>
  </div>
  <div class="fields">
    <div class="twelve wide field">
      <input type="text" name="shipping[city]" placeholder="Πόλη/Χωριό" />
    </div>
    <div class="four wide field">
      <input type="text" name="shipping[town]" placeholder="Δήμος" />
    </div>
  </div>

  <h4 class="ui dividing header">Στοιχεία Πληρωμής</h4>
  <div class="field">
    <label>Κάρτα</label>
    <div
      class="ui selection dropdown"
      (click)="toggleOpen()"
      [ngClass]="{ active: isOpen, visible: isOpen }"
    >
      <input #cardTypeInput type="hidden" name="card[type]" />
      <div #cardTypeText class="default text">Type</div>
      <i class="dropdown icon"></i>
      <div
        class="menu transition"
        [ngClass]="{ visible: isOpen, hidden: !isOpen }"
      >
        <div
          *ngFor="let cardType of cardTypes"
          (click)="showSelection(cardType)"
          class="item"
        >
          <i class="cc {{ cardType.value }} icon"></i>
          {{ cardType.title }}
        </div>
      </div>
    </div>
  </div>
  <div class="fields">
    <div class="seven wide field">
      <label>Αριθμός Κάρτας</label>
      <input
        type="text"
        name="card[number]"
        maxlength="16"
        placeholder="Card #"
      />
    </div>
    <div class="three wide field">
      <label>CVC</label>
      <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC" />
    </div>
    <div class="six wide field">
      <label>Λήξη</label>
      <div class="two fields">
        <div class="field">
          <select class="ui fluid search dropdown" name="card[expire-month]">
            <option value="">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="field">
          <input
            type="text"
            name="card[expire-year]"
            maxlength="4"
            placeholder="Year"
          />
        </div>
      </div>
    </div>
  </div>

  <h4 class="ui dividing header">Απόδειξη</h4>
  <div class="ui segment">
    <div class="field">
      <div
        class="ui toggle checkbox"
        [ngClass]="{ checked: isChecked }"
        (click)="toggleChecked()"
      >
        <input
          #checkInput
          type="checkbox"
          name="gift"
          tabindex="0"
          class="hidden"
          [checked]="isChecked"
        />
        <label>Ίδια με τα στοιχεία αποστολής</label>
      </div>
    </div>
    <div class="field">
      <label>Όνομα</label>
      <div class="two fields">
        <div class="field">
          <input
            [disabled]="isChecked"
            type="text"
            name="shipping[first-name]"
            placeholder="Όνομα"
          />
        </div>
        <div class="field">
          <input
            [disabled]="isChecked"
            type="text"
            name="shipping[last-name]"
            placeholder="Επίθετο"
          />
        </div>
      </div>
    </div>
    <div class="field">
      <label>Στοιχεία Αποστολής</label>
      <div class="fields">
        <div class="twelve wide field">
          <input
            [disabled]="isChecked"
            type="text"
            name="shipping[address]"
            placeholder="Διεύθυνση"
          />
        </div>
        <div class="four wide field">
          <input
            [disabled]="isChecked"
            type="text"
            name="shipping[address-2]"
            placeholder="Τ.Κ."
          />
        </div>
      </div>
    </div>
    <div class="fields">
      <div class="twelve wide field">
        <input
          [disabled]="isChecked"
          type="text"
          name="shipping[city]"
          placeholder="Πόλη/Χωριό"
        />
      </div>
      <div class="four wide field">
        <input
          [disabled]="isChecked"
          type="text"
          name="shipping[town]"
          placeholder="Δήμος"
        />
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <div class="ui button my-button" tabindex="0" (click)="previous()">
      Προηγούμενο
    </div>
    <div class="ui button my-button right" tabindex="0">Αγορά</div>
  </div>
</form>
