<div class="ui container">
  <div class="ticket-wrapper">
    <div class="ticket">
      <img class="ui fluid image" src="{{ concert.header_image }}" />

      <div class="ticket-header">
        <h1 class="ticket-title">Εισιτήριο</h1>
      </div>
      <div class="ticket-body">
        <div class="ticket-details">
          <div class="event-info">
            <p><strong>Event:</strong>{{ concert.title }}</p>
            <p><strong>Ημερομηνία:</strong> {{ ticket.date }}</p>
            <p><strong>Τοποθεσία:</strong> {{ concert.location }}</p>
          </div>
          <div class="right-column">
            <div class="ticket-number">
              <p>TicketNo: {{ randomString }}</p>
            </div>
            <div class="ticket-number">
              <p>{{ shippingInformation.firstname }}</p>
            </div>
            <div class="ticket-number">
              <p>{{ shippingInformation.lastName }}</p>
            </div>
          </div>
        </div>
        <div class="ticket-barcode">
          <canvas #qrcodeCanvas></canvas>
          <!-- Add barcode or QR code here -->
        </div>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <div class="ui row">
      <button class="ui massive button" (click)="downloadPDF()">
        Λήψη Εισιτηρίου
      </button>
    </div>
  </div>
</div>
