<div class="carousel-wrapper">
  <div class="carousel-background"></div>
  <div class="carousel slideshow">
    <ng-container *ngFor="let slide of slides; let i = index">
      <img
        *ngIf="i === currentSlide"
        [src]="slide.src"
        class="slide"
        [@carouselAnimation]
        (mouseover)="stopSlideShow()"
        (mouseout)="slideShow()"
      />
    </ng-container>

    <button class="ui icon button left" (click)="onPreviousClick()">
      <i class="chevron circle left icon"></i>
    </button>
    <button class="ui icon button right" (click)="onNextClick()">
      <i class="chevron circle right icon"></i>
    </button>
  </div>
</div>
